<div
  class="pb-2 flex flex-col gap-2 rounded shadow bg-gray-100 hover:scale-105 duration-150 cursor-pointer"
  [class.shadow-lg]="isSelected"
>
  <div
    class="p-2 flex bg-gray-200 items-center gap-2 text-lg font-semibold rounded-t"
    [class.bg-gray-300]="isSelected"
  >
    <span class="text-xs font-bold">[{{ power.id }}]</span>
    <span>{{ power.name }}</span>
  </div>

  <div class="px-2 pb-0.5 mx-2 w-fit text-xs rounded-full {{ powerTypeColor }}">
    {{ power.type }}
  </div>
</div>
